<div class="row">

  <div class="col-sm-4">
    <h3>Basic Information</h3>
    <div class="row">

      <dt class="col-sm-5">Birthday:</dt>
      <dd class="col-sm-7" ><%= @user.profile.birthday %></dd>

      <dt class="col-sm-5">College:</dt>
      <dd class="col-sm-7" ><%= @user.profile.college %></dd>

      <dt class="col-sm-5">Hometown:</dt>
      <dd class="col-sm-7" ><%= @user.profile.hometown %></dd>

      <dt class="col-sm-5">Currently Lives:</dt>
      <dd class="col-sm-7" ><%= @user.profile.lives %></dd>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
    <h3>Photos</h3>
    <table>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
    <h3>Friends</h3>
    <table>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
    </div>
  </div>



  <!--  show each of the user's previous post by looping through user posts -->
  <% @user.posts.each do |post| %>
    <%= post.body %>

    <% if @user == current_user %>
      <!-- if user is logged in then they can make a new comment. -->
      <%= render partial: "comments/new_comment", locals: { comment: current_user.comments.build, post: post} %>
    <% end %>

    <!--    for each post also loop through the comments/likes associated with it -->
    <% post.likes.each do |like| %>
      <%= render partial: "likes/show" %>
    <% end %>

    <!--  must also look at the likes for the comments  -->
    <% post.comments.each do |comment| %>
      <%= render partial: "comments/show_comment", locals: { comment: post.comment }  %>
      <% post.comments.likes.each do |like| %>
      
        <%= render partial: "likes/show", 
          locals: { 
            likes: post.likes 
          }%>

      <% end %>
    <% end %>

    <%= link_to "Comment" %>
    <%= link_to "Like" %>

    <% if current_user == post.user %>
      <%= link_to "Delete", user_post_path(@user), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>


  <% end %>

 
</div>  
