
<!-- Basic Information -->

<div><h2><%= @user.first_name %>'s Profile</h2>
</div>

<% if signed_in_user? && current_user != @user %>
  <%= render partial: "shared/friend_button", locals: { user: @user } %>
<% end %>

<div class="row">
  <div class="col-xs-4">
    <h3>About</h3>
    <dl class="row">

      <dt class="col-sm-5">Birthday:</dt>
      <dd class="col-sm-7" ><%= @user.birthday if @user.birthday %></dd>

      <dt class="col-sm-5">College:</dt>
      <dd class="col-sm-7" ><%= @user.profile.college %></dd>

      <dt class="col-sm-5">Hometown:</dt>
      <dd class="col-sm-7" ><%= @user.profile.hometown if @user.profile.hometown %></dd>

      <dt class="col-sm-5">Currently Lives:</dt>
      <dd class="col-sm-7" ><%= @user.profile.lives if @user.profile.lives %></dd>
    </dl>

    <div>
      <h3>Photos</h3>
      <table>
        <tr></tr>
        <tr></tr>
        <tr></tr>
      </table>
    </div>

    <div>
      <h3>Friends</h3>
      <table>
        <tr></tr>
        <tr></tr>
        <tr></tr>
      </table>
    </div>
  </div>

  <div class="col-xs-8">
    <!-- New Post  -->
    <div>
      <h3>Post</h3>
      <%= form_for @new_post do |f| %>
        <%= f.text_field :body %>
        <%= f.submit "Post" %>
      <% end %>
    </div>
    <br>

    <!-- Display Post -->
    <!-- Need to loop through all of the posts to display timeline -->
    <% @posts.each do |post| %>
    <div>
      <!-- <%=post.id%> -->
      <div>
        <div>
          <%= link_to "#{post.user.first_name} #{post.user.last_name}", posts_path %>
        </div>
        <div>
          Posted on <%= post.created_at %>
        </div>
      </div>

      <div>
        <%= post.body %>
      </div>

      <!--  Display Links -->
      <div>
        <%= like_status(post) %>

        <% if current_user == post.user %>
          <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
      </div>

      <!-- Display Likes -->
      <% unless post.likes.empty? %>
      <div>
        <%= render partial: "shared/likes", locals: { likes: post.likes } %>
      </div>
      <% end %>

      <!-- Display Comments -->
      <% if post.comments %>
      <div>
      <% post.comments.each do |comment| %>
        <div>
          <%= render partial: "comments/show_comment", locals: { comment: comment } %>
        </div>
      <% end %>
      </div>
      <% end %>

      <!-- Display New Comment Form -->
      <% if signed_in_user? %>
      <div>
        <%= render partial: "comments/new_comment", locals: { post: post } %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>