<!DOCTYPE html>
<html>
<head>
  <title>Danebook</title>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="danebook">

<% flash.each do |name,message| %>
  <div class="flash flash-<%= name.to_s %>">
    <%= "#{name.to_s.upcase}: #{message}" %>
  </div>
<% end %>

<% if signed_in_user? %>
  <h2>Welcome, <%= link_to "#{current_user.email}", current_user %>!</h2>
  <%= link_to "Timeline", user_timeline_path(current_user) %> |
  <%= link_to "Logout", logout_path, method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
