<!DOCTYPE html>
<html>
<head>
  <title>Danebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <h1>
   <% if signed_in_user? %>
      Welcome, <%= link_to "#{current_user.email}", current_user %>!
    <% else %>
      Welcome
    <% end %>

  </h1>  

  <%= yield %>

  <%= render :partial => 'shared/flash' %>  

    



</body>
</html>
